<div class="customerOrders view">
    <div class="container">
        <header>
            <h3>Add new Beer</h3>
        </header>
        <div>
            <div class="jumbotron">
                <div class="span12">
                    <form class="form-horizontal">
                      <div class="control-group">
                        <label class="control-label" for="inputName">Name</label>
                        <div class="controls">
                          <input type="text" id="inputName" data-ng-model="newUser.name" required="true"  placeholder="Name">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputEmail">Email</label>
                        <div class="controls">
                          <input type="email" id="inputEmail" data-ng-model="newUser.email" required="true" placeholder="Email">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputPhone">Phone</label>
                        <div class="controls">
                          <input type="text" id="inputPhone" data-ng-model="newUser.phone" required="true"  placeholder="Phone">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputCompany">Company</label>
                        <div class="controls">
                          <input type="text" id="inputCompany" data-ng-model="newUser.company" required="true"  placeholder="Company name">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputWebsite">Website</label>
                        <div class="controls">
                          <input type="text" id="inputWebsite" data-ng-model="newUser.website" required="true"  placeholder="http://">
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="controls">
                          <button type="submit" class="btn btn-primary" data-ng-click="insertUser()">Add User</button>
                        </div>
                      </div>
                    </form>
                </div>                
                <br /><br />
               
            </div>
        </div>
    </div>
</div>
