
  <h3 class="text-primary text-center">List of Beers</h3>

  <div class="panel panel-default">

    <div class="panel-heading ">
      <div class="input-group" >
        <span class="input-group-addon"> <i class="glyphicon glyphicon-search"></i></span>

        <input type="text" class="form-control">
      </div>
    </div>

    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Beer</th>
          <th>Country</th>
          <th>Type</th>
          <th>Brewed</th>
        </tr>
        </thead>
      </table>
    </div>


  </div>

